@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --text-color:black;
  --body-color:rgb(210, 210, 210);
  --green-color:rgb(218, 243, 216);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Raleway', sans-serif ;
  border: 0;
  outline: none;
  transition: all .2s linear;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7px;
}
body{
  overflow-x: hidden;
background-color: var(--body-color);
}

/* DifferentFeatureBox part start*/
.DifferentSectionInContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.DifferentFeatureBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27vh;
  width: 15vw;
  margin-left: 3rem;
  background-color: var(--green-color);
  border: 1px solid gray;
  border-radius: .5rem;
  cursor: pointer;
}
.DifferentFeatureBox:hover{
  box-shadow: 0px 0px 5px -1px black;
}
.DifferentFeatureBox .DifferentFeatureContent img{
border-radius: 50%;
height: 7rem;
width: 7rem;
}
.differentSectionHeading{
  font-size: 2rem;
  font-weight: 700;
  margin-left: 18%;
  margin-bottom: 1rem;
}
.DifferentFeatureContentText{
  padding-top: 1rem;
  font-weight: 600;
  padding-left: .5rem;
  font-size: 1.2rem;
}
/* DifferentFeatureBox part end */

/* WebsiteAboutContainer */
.WebsiteAboutContainer{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  /* align-items: center; */
  margin-bottom: 2rem;
}
.WebsiteAbout img{
  border-bottom-left-radius: .5rem;
  border-top-left-radius: .5rem;
}
.WebsiteAboutContainer .TextSection{
  width: 50%;
  padding-left: 2rem;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  border: 1px solid gray;
}
.WebsiteAboutContainer .TextSection p:first-child{
  margin-top: 5rem;
font-size: 1.2rem;
font-weight: 700;
}
.WebsiteAboutContainer .TextSection p:nth-child(2){
  font-size: 2.2rem;
  font-weight: 600;
  }

  /* -------------------------------------------------------------ShowCaseSection-------------------------------------------- */
.plateFormHeaderSection {
  margin-top: 2rem;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  background-color: var(--backgroundColor-gray);
  padding-bottom: 1rem;
  margin-left: 10%;
  /* border: 2px solid gray; */
}

.plateFormHeaderContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--font-color);
  flex-direction: column;
}

.plateFormHeaderSection .UpperPart {
  display: flex;
}

.plateFormHeaderSection .UpperPart .firstOne {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--black-color);
  margin-left: 1.5rem;
  padding-top: 2rem;
}

.plateFormHeaderSection .UpperPart .firstOne span {
  display: block;
  margin-left: 2.6rem;
}

.plateFormHeaderSection .UpperPart .reportText {
  margin-left: 1rem;
  padding-top: 2rem;
  font-weight: 500;
  font-size: 4.5rem;
}

.plateFormHeaderSection .lowerPart {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  /* margin-top: 1rem; */
}

.plateFormHeaderSection .lowerPart p:first-child {
  font-size: 3rem;
  font-weight: 500;
  margin-left: 48%;
}

.plateFormHeaderSection .lowerPart p:nth-child(2) {
  display: flex;
  padding-left: 7%;
  font-size: 1.1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  flex-basis: 462px;
  color: var(--gray-color);
}
