@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
  --text-color:black;
  --body-color:rgb(210, 210, 210);
  --blue-color:
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Raleway', sans-serif ;
  border: 0;
  outline: none;
  transition: all .2s linear;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7px;
}
body{
  overflow-x: hidden;
background-color: var(--body-color);
}

/* slider part start*/

/* slider part end */
